body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: helvetica;
  --max-width: 500px;
  --filter-bar-height: 0px;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  border: none;
  box-shadow: none;
  cursor: pointer;
  font-weight: bold;
}

#app {
  width: 100%;
  height: 100vh;
  max-width: var(--max-width);
  margin: 0 auto;
}

.show-list {
  scroll-margin-top: var(--filter-bar-height);
  margin-top: var(--filter-bar-height);
  width: 100%;
  overflow-y: scroll;
}

.show-list-item {
 
}

.show-item {
  border-top:  1px solid black;
  width: 100%;
  display: block;
}

.show-item.visually-hidden {
  display: none;
}

.show-item-ad {
  background-color: #ffef001c;
}

.show-item-bw {
  background-color: #ffa5001c;
}

.show-item-ba {
  background-color: #f447651c;
}

.show-item-hc {
  background-color: #0cfd0c1c;
}

.show-item-ts {
  background-color: #0070ff1c;
}

.show-item-header {
  cursor: pointer;
  display: flex;
  padding-top: 1em;
  padding-bottom: 1em;
}

.show-item-image {
  width: 100px;
  height: 100px;
  background-size: cover;
}

.show-item-meta {
  padding: 0 1em 1em 1em;
  width: calc(100% - 2em - 100px);
}

.show-item-name,
.show-item-timestamp {
  font-size: 1em;
  line-height: 1.2rem;
  margin: 0;
}

.show-item-timestamp {
  color: rgb(200, 200, 200);
}

.show-item-title {
  font-size: 1.3em;
  line-height: 1.8rem;
  margin: 0;
}

.show-item-timestamp.visually-hidden {
  color: transparent;
}

.show-item-drawer {
  display: none;
  padding: 1em 1em 3em 1em;
}

.show-item-drawer.drawer-open {
  display:  block;
}

.show-item-notes li {
  margin-bottom:  0.3em;
}

.show-item-button,
.action-bar-button {
  padding: 0.5em 1em;
  border-radius: 1em;
}

.show-item-button {
  color: white;
  background-color: black;
}

.filter-bar {
  position: fixed;
  left: 0;
  top: 0;
  background-color: transparent;
  width: 100%;
}
.filter-bar-row {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0.5em 1em;
}

.filter-bar-button {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  margin: 0 0.5em;
  background-color: black;
  color: white;
  padding: 0 0.5em;
}

.filter-ad {
  background-color: #ffef00;
}

.filter-bw {
  background-color: #ffa500;
}

.filter-ba {
  background-color: #f44765;
}

.filter-hc {
  background-color: #0cfd0c;
}

.filter-ts {
  background-color: #0070ff;
}

.filter-bar-button-muted {
  background-color: rgb(200, 200, 200);
}

.action-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: transparent;
  width: 100%;
}

.action-bar-row {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding: 0.5em;
}

.action-bar-button {
  color: white;
  background-color: black;
}